.articles {
    flex-direction: column;    
    margin: 0;
}

.articles > h2 {
    font-family: 'Open Sans', sans-serif;
    color: var(--header-background);
    margin: 0;
    margin-left: 8px;
    margin-top: 8px;
    width: 100%;
    min-width: 100%;
}
.article {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 8px;
    border-radius: 15px;
    overflow: hidden;
}

.article > img {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
}

.articleHeader {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 10;
    background-color: rgb(252, 140, 42, 0.8);
    width: 100%;
}

.articleHeader > a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.articleHeader > a > h2, .articleHeader > p {
    margin: 0;
    padding: 0;
    
    margin-left: 8px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.articleHeader > a > h2 {
    margin-top: 8px;
}

.articleHeader > p {
    margin-bottom: 8px;
}