@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

:root {
    --header-background: #2B3843;
    --exct-orange: rgb(252, 140, 42);
    --ingeo-brown: #a87648;
}
html, body {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
}
body {
    padding: 0;
    margin: 0;
}


*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.mainContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mainSection {
    display: flex;
    flex-direction: column;
}

.articles {
    display: flex;
}

.footer {
    display: flex;
    background-color: var(--header-background);
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0;
    padding: 0 16px;
}

.footer > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer > a > img {
    height: 80%;
    opacity: 0.5;
}


@media (min-width: 1200px) {
    .container{
        flex-direction: row;
        width: 90%;
    }

    .mainSection {
        flex: 3;
    }

    .articles {
        flex: 1;
    }

}


