.news {
    display: flex;
    flex-direction: column;
}

.lastNews, .gabNews, .labNews {
    display: flex;
    flex: 1;
    flex-direction: column;
    border: 1px solid;
    border-top: 15px solid;
    border-radius: 15px;
    margin: 8px;
}

.lastNews {
    border-color: var(--exct-orange);
}
.gabNews {
    border-color: var(--ingeo-brown);
}
.labNews {
    border-color: var(--header-background);
}

.newsTitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin:0;
    margin-left: 16px;
    padding: 0;
}
.lastNews .newsTitle{
    color: var(--exct-orange);
}
.gabNews .newsTitle {
    color: var(--ingeo-brown);
}
.labNews .newsTitle {
    color: var(--header-background);
}

.newsList {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.listItem {
    display: flex;
    border-bottom: 1px solid;
    margin: 0 16px 16px 16px;
    padding: 0 0 16px 0;
}
.lastNews .newsList .listItem {
    border-color: var(--exct-orange);
}

.gabNews .newsList .listItem {
    border-color: var(--ingeo-brown);
}

.labNews .newsList .listItem {
    border-color: var(--header-background);
}

.listItem > img {
    height: 100px;
    width: auto;
    align-self: center;
}

.listItem > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-left: 8px;
    padding: 0;
}

.listItem > div > h2,h5,p {
    padding: 0;
    margin: 0;
} 
.listItem > div > h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.listItem > div > h2 > a{
text-decoration: none;
}


.listItem > div > h5,p {
    font-family: 'Open Sans Condensed', sans-serif;
}
.listItem > div > h5{
    font-weight: 400;
}

.lastNews .newsList .listItem > div > h2 > a {
    color: var(--exct-orange);
}

.gabNews .newsList .listItem > div > h2 > a {
    color: var(--ingeo-brown);
}

.labNews .newsList .listItem > div > h2 > a {
    color: var(--header-background);
}

.listItemFirst {
    flex-direction: column;
}

.listItemFirst > img{
    height: auto;
    width: 100%;
    max-width: 100%;
    align-self: inherit;
}

.listItemFirst > div {
    margin: 0;
}


@media (min-width: 1050px){
    .container{
        flex-direction: row;
        width: 90%;
    }

    .mainSection {
        flex: 3;
    }

    .articles {
        flex: 1;
    }

    .news {
        flex-direction: row;
    }

    .lastNews, .gabNews, .labNews {
        border-bottom: none;
        border-radius: 15px 15px 0 0;
        margin: 8px 8px 0 8px;
    }

}
